In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('spam.csv',encoding=('ISO-8859-2'))

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1984,spam,Urgent! Please call 09061743810 from landline....,NaN,NaN,NaN
2215,ham,Prabha..i'm soryda..realy..frm heart i'm sory,NaN,NaN,NaN
5408,ham,... Are you in the pub?,NaN,NaN,NaN
4521,ham,DO U WANT 2 MEET UP 2MORRO,NaN,NaN,NaN
4597,ham,I'm stuck in da middle of da row on da right h...,NaN,NaN,NaN

In [12]:
df.shape

(5572, 5)

## 1.Data Cleaning

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [15]:
# drop last 3 columns
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [16]:
df.sample(5)

        v1                                                 v2
5046   ham                    Hmmm.still we dont have opener?
3061   ham                          Fine. Do you remember me.
2611  spam  Knock Knock Txt whose there to 80082 to enter ...
5057   ham  Geeeee ... Your internet is really bad today, ...
4624   ham                           I'm on the bus. Love you

In [17]:
# renaming the columns
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [18]:
df.sample(5)

     target                                            text
3622    ham           Damn, poor zac doesn't stand a chance
1123    ham             Good morning princess! How are you?
4396    ham                          When did dad get back.
387     ham                  Mm that time you dont like fun
1956    ham  K...k:)why cant you come here and search job:)

In [19]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [21]:
df['target']=encoder.fit_transform(df['target'])